body {
  background-color: antiquewhite;
}

.root {
  width: 500px;
  height: 600px;
  padding: 10px;
  overflow-x: scroll;
}

button {
  margin: 5px !important;
}

.app-header {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

#table-wrapper {
  position: relative;
}

#table-scroll {
  /* height: 150px; */
  overflow: auto;
  margin-top: 20px;
}

#table-wrapper table {
  width: 100%;
}

td,
th {
  border: 1px solid black;
  border-width: 1px !important;
  text-align: left;
  padding: 8px;
  width: 500px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
