body {
  background-color: antiquewhite;
}

.root {
  width: 500px;
  height: 600px;
  padding: 10px;
}

.app-header {
  text-align: center;
}

.data-table {
  margin-top: 20px;
  margin-left: 25px;
  margin-right: 25px;
  width: 100%;
}
